<%- include('partials/header') %>

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis main-text">Book List App ✎</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted supporting-text">
      Keep track of the books you've read with this easy-to-use book note app.
      Log in to browse your reading history or register to create an account and
      start building your personal library today.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a class="btn btn-dark btn-lg btn-login" href="/login" role="button"
        >Login</a
      >

      <a
        class="btn btn-outline-secondary btn-lg px-4 btn-register"
        href="/register"
      >
        Register
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
