/*General Styling*/

body {
  background-color: darkslategray;
  height: 80%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* Adjust as necessary */
  z-index: 1000;
}

html {
  height: 100%;
}

h2 {
  color: aliceblue;
}

.container {
  padding-top: 80px; /* Matches the header height */
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.supporting-text {
  color: lightgrey !important;
  font-size: larger;
}

.sub-text {
  color: lightsteelblue !important;
}

/*HOME PAGE STYLES*/

/*Home page button styles*/
.btn-register {
  background-color: darkgray;
  color: lightyellow;
}

.btn-login {
  background-color: lightcoral;
  border-color: lightcoral;
}

.btn-login:hover {
  background-color: coral;
  border-color: lightcoral;
}

.main-text {
  color: lightyellow;
}

.edit-form {
}
